<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Hola_Mundo</display-name>
    <servlet-name>Hola_Mundo</servlet-name>
    <servlet-class>Mis_Servlets.Hola_Mundo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hola_Mundo</servlet-name>
    <url-pattern>/Hola_Mundo</url-pattern>
  </servlet-mapping>
  <display-name>tdw_t3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Suma2numeros</display-name>
    <servlet-name>Suma2numeros</servlet-name>
    <servlet-class>Mis_Servlets.Suma2numeros</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Suma2numeros</servlet-name>
    <url-pattern>/Suma2numeros</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>polindromo</display-name>
    <servlet-name>polindromo</servlet-name>
    <servlet-class>Mis_Servlets.polindromo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>polindromo</servlet-name>
    <url-pattern>/polindromo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormulaGeneral</display-name>
    <servlet-name>FormulaGeneral</servlet-name>
    <servlet-class>Mis_Servlets.FormulaGeneral</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormulaGeneral</servlet-name>
    <url-pattern>/FormulaGeneral</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FG</display-name>
    <servlet-name>FG</servlet-name>
    <servlet-class>Mis_Servlets.FG</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FG</servlet-name>
    <url-pattern>/FG</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FORMUGEN</display-name>
    <servlet-name>FORMUGEN</servlet-name>
    <servlet-class>Mis_Servlets.FORMUGEN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FORMUGEN</servlet-name>
    <url-pattern>/FORMUGEN</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>POLI</display-name>
    <servlet-name>POLI</servlet-name>
    <servlet-class>Mis_Servlets.POLI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>POLI</servlet-name>
    <url-pattern>/POLI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>suma2numeross</display-name>
    <servlet-name>suma2numeross</servlet-name>
    <servlet-class>Mis_Servlets.suma2numeross</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>suma2numeross</servlet-name>
    <url-pattern>/suma2numeross</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sumadosnumeros</display-name>
    <servlet-name>sumadosnumeros</servlet-name>
    <servlet-class>Servlets.sumadosnumeros</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sumadosnumeros</servlet-name>
    <url-pattern>/sumadosnumeros</url-pattern>
  </servlet-mapping>
</web-app>